**DATA TYPE AND DATA STRUCTURE QUESTIONS**

1> What are data structures, and why are they important ?
- The way to organizing  and stored data so that it can be acessed and manupulated effectively .
- Data structure are important because without organizing and storing  the data we can not acess or manupulate the data.

 2> Explain the difference between mutable and immutable data types with examples.
 - Mutable data type-> mutable data type are those whose value or object can  be changed after they are created,like lists,dictionaries,sets
 - Immutable data type-> immutable data type are those whose value can not be changed after they are created,like strings,integers,tuples

In [ ]:
#mutable data type
my_list = [1,2,3]
my_list[2] = 5
print(my_list)

[1, 2, 5]

In [ ]:
#immutable data type
my_tuple = (3,4,7)
my_tuple[0] = 3
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

3> What are the main differences between lists and tuples in Python ?
- Lists are mutable data type that means after creating a list we can change value any of the element inside the list,but tuples are immutable data type,we can not changed any of the element inside a tuple,that is the main difference between lists and tuples.

4>Describe how dictionaries store data ?
- Dictionaries store data in key value pair.Every value is introduced by a key,when we need to introduce data in some particualr identity,then we use dictionaries,user name and it's detail where user name is a identity and it's detail will be introduced by the user name

5>  Why might you use a set instead of a list in Python ?
- Sets are unordered and unique collection of elements.Where as lists are not unique collection of elements it takes every elements inside the list.We use sets instead of list to get unique elements inside a set and not to repeat those elements.

6>  What is a string in Python, and how is it different from a list ?
- String is a suquence of character,which can represent or manupulate textual data,we can not change any character of a string after they are created.
Tho we can not change any character of a string but we can change any element in a list because strings are immutable but lists are mutable,that is the main difference between a list and a string

7>  How do tuples ensure data integrity in Python ?

8>  What is a hash table, and how does it relate to dictionaries in Python ?

 9> Can lists contain different data types in Python ?
 - Yes,list can store heteroginious data type,that means it can store any data type present in python

10>  Explain why strings are immutable in Python.
- Immutable data type are those whose value can not be changed after they are created and string also follow this rule after creating a string we can not change any chacacter in it.

In [ ]:
string1 = "Adrije"
string1[0] = "J"
print(string1)

TypeError: 'str' object does not support item assignment

11>  What advantages do dictionaries offer over lists for certain tasks ?
- Dictionaries offer several adventages over a list
- **Time Complexcity** -> Dictionaries takes very less time to execute a code than a list
- **Key and Value Pair** -> Dictionaries have key value pair by that we can introduce any value by key
- **Flexeblity of key** -> In dictionaries key can have any immutable data type by that it can introduce any data type.
- Whereas list do not have those phichers like a dictionaries

12>  Describe a scenario where using a tuple would be preferable over a list ?
- We use tuple to not to change the value of it and we use list where we want to change elements inside it.
The best scenario to use tuple instaed of list will be making a aadhar card where we don't want to change the aadhar id.

13>  How do sets handle duplicate values in Python ?
- Sets are unordered and unique collection of elements.It can not print the duplicate value present in the set we can have only unique value,stes do not print elements which are printed once.

14>  How does the “in” keyword work differently for lists and dictionaries ?
- List -> In a list the in keyword is used to ckeck the presence of elements by iterating through the list and compairing each element to the target value.
- Dictionaries -> In a dictionary the in keyword is used to ckeck the presence of key by hash-based lookup.

15> Can you modify the elements of a tuple? Explain why or why not.
- Yes,we can modify elements in tuples,we can not add  elements from a tuple but we can remove elements from tuples.

In [ ]:
t1 = ("Adrije","Ajay",1,2.4,True,False,2+6j)
print(t1[:-2])

('Adrije', 'Ajay', 1, 2.4, True)

16>  What is a nested dictionary, and give an example of its use case ?
- Example->

In [ ]:
emp_records = {
    "E001" : {"name":"Amit Das","Department":"Engineering","salary":80000},
    "E002" : {"name":"Abhijit Bose","Department":"Markiting","salary":75000},
    "E003" : {"name":"Bijay Gupta","Dapartment":"finance","salary":50000}
}
print(emp_records.get("E001"))

{'name': 'Amit Das', 'Department': 'Engineering', 'salary': 80000}

 17> Describe the time complexity of accessing elements in a dictionary ?
 - Acessing a element in a dictionary by a key has a average time complexcity of 0(1) due to hash-base lookup up mechanism.It makes dictionay lookup very effective.

18>  In what situations are lists preferred over dictionaries ?
- List do not have key value pair,so where we don't need to introduce any element by a key.There we can use list over dictionary.

19> Why are dictionaries considered unordered, and how does that affect data retrieval?

20>Explain the difference between a list and a dictionary in terms of data retrieval.

**PRACTICAL QUESTION**

1> Write a code to create a string with your name and print it.

In [ ]:
a = "Adrije Tribedi"
print(a)

Adrije Tribedi

2> Write a code to find the length of the string "Hello World".

In [ ]:
b = "Hello World"
print(len(b))

11

3> Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
stri1 = "Python Prigamming"
sliced_string = stri1[0:3]
print(sliced_string)

Pyt

4>  Write a code to convert the string "hello" to uppercase.

In [ ]:
x = "hello"
print(x.upper())

HELLO

5> Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string2 = "I like apple"
print(string2.replace("apple","orange"))

I like orange

6>  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

7> Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

8>  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

9>  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list4 = ['a','b','c','d']
print(list4[1])

b

10>  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list5 = [10,20,30,40,50]
print(list5[::-1])
##or
list5.reverse()
print(list5)

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

11> Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

12>  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple2 = ('red','green','blue','yellow')
print(tuple2[1:])

('green', 'blue', 'yellow')

13> Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple3 = (10,20,5,15)
print(min(tuple3))

5

14> Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple4 = ('dog','cat','rabbit')
print(tuple4.index('cat'))

1

15>  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tuple5 = ('apple','orange','kiwi')
print('kiwi' in tuple5)

True

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set1 = {'a','b','c'}
print(set1)

{'a', 'b', 'c'}

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set2 = {1,2,3,4,5}
set2.clear()
print(set2)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set3 = {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a = {1,2,3}
b = {3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
x = {1,2,3}
y = {2,3,4}
print(x&y)

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dic = {"name":"Adrije Tribedi","age":19,"city":"kolakta"}
print(my_dic)

{'name': 'Adrije Tribedi', 'age': 19, 'city': 'kolakta'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name':'John','age':25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict2 = {'name':'Alice','age':30}
print(my_dict2['name'])

Alice

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict3 = {'name':'Bob','age':22,'city':'new York'}
my_dict3.pop('age')
print(my_dict3)

{'name': 'Bob', 'city': 'new York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict4 = {'name':'Alice','city':'Paris'}
print('city' in my_dict4)

True

 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lis = [1,2,3,4]
tupl = (1,3,7,2,5)
dic = {"name":"Adrije Tribedi","age":"19"}
print(lis)
print(tupl)
print(dic)

[1, 2, 3, 4]
(1, 3, 7, 2, 5)
{'name': 'Adrije Tribedi', 'age': '19'}

 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced)

In [ ]:
list6 = [2,96,22,87,73]
print(sorted(list6))

[2, 22, 73, 87, 96]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
names = ['Ajay','Bijay','Sanjay']
print(names[2])

Sanjay

 29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
my_id = {'name':'Adrije','age':'19','profection':'student'}
brother_id = {'name' : 'Abhijit','age':15,'profection':'student'}
print(my_id+brother_id)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

 30. Write a code to convert a list of strings into a set.

In [ ]:
list7 = ["Banjan","egg","Tomato","Tomato","Potato","egg","Banjan"]
s = set(list7)
print(s)

{'Banjan', 'egg', 'Tomato', 'Potato'}